__sources/_ignore
node_modules
public/components/bower
public/vendor/bower
resources/assets/vendor/bower
public/uploads/images/
public/filemanager/images
public/filemanager/files

/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
**/.idea/workspace.xml
.idea/
*.iml
*.tmp
*.db
_notes
/_notes/*.*
.vagrant
laradock
debug.log

.phpintel
