<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    #RewriteRule ^uploads/(.*)\/?$ http://192.168.0.124/lpf/public/uploads/$1 [L]
    #RewriteRule ^filemanager/(.*)\/?$ http://192.168.0.124/lpf/public/filemanager/$1 [L]
</IfModule>
