body {
  color: #000;
  font-size: 15px;
  line-height: 1.4;
  font-family: 'Futura', sans-serif !important;
  font-weight: 500 !important;
}

p {
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 15px !important;
  -webkit-margin-start: 0 !important;
  -webkit-margin-end: 0 !important;
}
